html{
    scroll-behavior: smooth;
}


body {
    margin: 0;
    overflow: hidden;
    overflow-y: scroll;
    background: linear-gradient(135deg, #84fab0, #8fd3f4);
    background-size: 200% 200%;
    animation: diagonalShift 6s ease infinite;
}
@keyframes diagonalShift {
    0% {
      background-position: 0% 0%;
    }
    100% {
      background-position: 100% 100%;
    }
  }

.header{
    position: relative;
    margin-bottom: 0vh;
    top: 0;
    left: 0;
    right: 0;
    /* z-index: 999; */
    transform: translateY(0);
    display: flex;
    width:100%;
    height: 9vh;
    background: linear-gradient(to right, #5982a6, #6ddbb8, #c06c84);
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-around;
}

nav a{
    color: white;
    font-size: 30px;
    text-decoration: none;
    margin: 0 15px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}
nav a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
/* Navigation section complete */

.scroll-container img{
    border: 5px solid white;
    display: flex;
    position: sticky;
    top:65vh;
    left: 40vw;
    /* left:22%; */
    border-radius: 50%;
    width: 20%;
    animation-name: logo;
    animation-duration: 1s;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.5)

}
.center{
    display: flex;
    position: sticky;
    border-radius: 50%;
    width: 20%;
    animation-name: logo;
    animation-duration: 3s;
    animation-direction: alternate ;
    animation-iteration-count: infinite;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.5)
}
@keyframes logo{
    0%{
        transform: scale(0) rotate(0deg);
    }
    100%{
        transform: scale(1) rotate(360deg);
    }
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Background Scrolling Section */
.scroll-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.scroll-content {
    position: absolute;
    width: 222%; 
    height: 95%;
    background-image: url('homepage.png');
    background-repeat: repeat-x; /* Repeat the image horizontally */
    animation: scroll-left 10s linear infinite;
    /* filter: blur(5px) */
}

@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

/* Completed... */
#logoname{
    display: flex;
    justify-content: center;
    align-items: center;
}
#logoname img{
    width: 5vw;
    border-radius: 50%;
    margin-right: 2vw;
}
#logoname h1{
    color:white;
}

.second-page{
    width:100%;   
}
.author{
    display:flex;
    width:100%;
    justify-content: space-around;
}
.author img{
    border: 1px solid;
    width:25%;
    border-radius:50%;
    height:25vh;
    width:25vh;
    cursor: pointer;
}
.stars{
    left: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.stars h2{
    cursor: pointer;
}

.third-page{
    display:flex;
    flex-wrap: wrap;
    row-gap: 5vh;
    justify-content: space-around ;
}
.shows{
    background-color: white;
    width:29%;
    border: 1px solid salmon;
    padding: 2vh;

}
.shows img{
    cursor: pointer;
}
.third-page img{
    width:100%;
}
p{
    text-align: justify;
}
h2{
    text-align: center;
}
.shows button{
    
    text-align: center;
}

.book-now-btn {
    background-color: #4CAF50; 
    color: #fff; 
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
.book-now-btn:hover {
    background-color: #3e8e41;
}
